.buildSettingsList {
    width: 100%;
}
.flagLabel {
    display: block;
}
.indented {
    padding-left: 20px;
}
.checkboxes-group {
    padding-top: 10px;
}
.options-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.normal-column {
    width: 15%;
    max-width: 200px;
}
.message-template {
    padding-top: 10px;
}
.textAreaField {
    height: 100px;
}
.notify-committer {
    padding-top: 10px;
}

label.tableLabel {
    width: 15.5em;
}