.buildSettingsList {
    width: 100%;
}
.flagLabel {
    display: block;
}
.indented {
    padding-left: 20px;
}
.checkboxes-group {
    padding-top: 20px;
}
.options-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.normal-column {
    width: 15%;
    max-width: 200px;
}
